<p id="notice"><%= notice %></p>

<p>
  <strong>Transmission:</strong>
  <%= @transmission.transmission %>
</p>

<%= link_to 'Edit', edit_transmission_path(@transmission) %> |
<%= link_to 'Back', transmissions_path %>
